body.disabled {
  pointer-events: none;
}

aside {
  pointer-events: all;
}

h1,
h2,
h3 h4,
h5,
h6 {
  margin: 0;
}

h2.completed {
  text-decoration: line-through;
}

button {
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
  padding: 0;
}

ul li {
  transition: 0.4s linear;
  border: 4px solid #e3e3e3;
  border-radius: 12px;
}

ul li::before {
  content: '';
  transition: 0.4s linear;
  width: 0%;
}

ul li.check .info-card{
  opacity: 0.5;
  transition: 0.4s linear;
}

ul li header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
  padding: 0px 12px;
}

ul li header div {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

ul li header h2 {
  margin: 0;
}

ul li p {
  font-weight: 700;
}

form span {
  color: red;
  font-weight: 500;
}

main {
  position: relative;
  height: 100vh;
}

main > header {
  margin: 20px  0 60px 0;
}

aside {
  z-index: 100;
  border: 4px solid #3b3b3b;
  border-radius: 12px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

aside>header {
  margin: 12px 0 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside > * {
  padding: 12px;
}

aside.modal {
  width: min(35rem, 80%);
}

aside h2 {
  display: flex;
  gap: 12px;
}

.modal-inner header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

}

.modal-inner header> div {
  display: flex;
  align-items: center;
}

.modal-inner textarea {
  margin-top: 20px;
}

.modal-inner span {
  font-weight: 700;
}

.check-input {
  cursor: pointer;
}

main>header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: 576px) {
  ul li header {
    flex-direction: column;
  }

  ul li header div.info-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  ul li header div.action-card {
    width: 100%;
    display: flex;
    justify-content: start;
  }
}